[submodule "trueCanvasContracts/lib/forge-std"]
	path = trueCanvasContracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "trueCanvasContracts/lib/openzeppelin-contracts"]
	path = trueCanvasContracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
